
    <form action="/Reports/EmployeeAdministrative" method="post">
        <div class="modal fade" id="AdministrativeEmployeeModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Rapor Oluşturun</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-body">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Rapor Seçiniz</label>
                                            <select name="AdministrativeEmployeeId" class="form-control">
                                                <option value="1">Rapor Seçiniz</option>
                                                <option value="2">Çalışan İzin Bilgileri</option>
                                                @*<option value="3">Aylık Kullanılan İzin Raporu</option>
                                                <option value="4">Çalışan İletişim Raporu</option>
                                                <option value="5">Çalışan Zimmet Raporu</option>
                                                <option value="6">Çalışma Süresi</option>
                                                <option value="7">İşten Ayrılan Bilgieri</option>
                                                <option value="8">Çalışan Dönüşüm (Turnover) Raporu</option>
                                                <option value="9">Hesap Erişim Raporu</option>
                                                <option value="10">Çalışan İzin Kuralı Raporu</option>
                                                <option value="11">Onay Süreçleri Raporu</option>
                                                <option value="12">İşe Alım Raporu</option>*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn green">Oluştur</button>
                    </div>
                </div>
            </div>
        </div>
        </form>

