@model List<EmployeePermitDTO>

    <div class="caption">
        <i class="icon-bubble font-dark hide"></i>
        <span class="caption-subject font-hide bold uppercase"> Çalışanlar İzin Listesi </span>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Adı </th>
                        <th> Soyadı </th>
                        <th> İzin </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    { 
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[i].Employee.Name</td>
                        <td>@Model[i].Employee.Surname </td>
                        <td>@Model[i].Permit.PermitType.PermitTypeName</td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>