
    <form action="/Reports/Employee" method="post">
        <div class="modal fade" id="ReportsEmployeeModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Rapor Oluşturun</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-body">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Rapor Seçiniz</label>
                                            <select name="ReportsEmployeeId" class="form-control">
                                                <option value="1">Rapor Seçiniz</option>
                                                <option value="2">Çalışan Listesi</option>
                                                @*<option value="3">Yaş Dağılımı</option>
                                                <option value="4">Cinsiyet Dağılımı</option>
                                                <option value="5">Askerlik Durumu Dağılımı</option>
                                                <option value="6">Eğitim Durumları</option>
                                                <option value="7">Engelli Çalışan Listesi</option>
                                                <option value="8">Doğum Günü Raporu</option>
                                                <option value="9">Eğitim Bilgileri</option>
                                                <option value="10">Birim Dağılımı</option>
                                                <option value="11">Kan Grubu Dağılımı</option>
                                                <option value="12">Özel Alanlar</option>
                                                <option value="13">Çalışma Takvimi Raporu</option>*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn green">Oluştur</button>
                    </div>
                </div>
            </div>
        </div>
    </form>